<h2>Add New Reading</h2>

<%= form_for @reading do |f| %>
	
	<div class="form-group">
		<%= f.label :user %><br />
		<%= f.select :user_id, User.all.collect {|x| [x.first_name + ' ' + x.last_name, x.id]} %>
	</div>
	<div class="form-group">
		<%= f.label :read_at %><br />
		<%= f.datetime_select :read_at %><br />
	</div>
	<div class="form-group">
		<%= f.label :value %><br />
		<%= f.text_field :value, class:'form-control' %><br />
	</div>
	
	<%= f.submit "Submit", class:'btn btn-primary' %>
	<%=link_to "Cancel", readings_path, class:'btn btn-default' %>

<% end %>
