<% if params[:controller] == 'about' %>
	<div class="well">
		<h3>Location Info </h3>
		<ul>
			<li> Utility Manager </li>
			<li> 50 Nanyang Avenue </li>
			<li> Singapore, 639738 </li>
			<li> Email: support@utilitymanager.com</li>
		</ul>
	</div>
<% end %>