<h2>Add New User</h2>

<%= form_for @user do |f| %>

	<div class="form-group">
		<%= f.label :first_name %><br />
		<%= f.text_field :first_name, class:'form-control' %><br />
	</div>
	<div class="form-group">
		<%= f.label :last_name %><br />
		<%= f.text_field :last_name, class:'form-control' %><br />
	</div>
	<div class="form-group">
		<%= f.label :address %><br />
		<%= f.text_field :address, class:'form-control' %><br />
	</div>
	<%= f.submit "Submit", class:'btn btn-primary' %>
	<%=link_to "Cancel", users_path, class:'btn btn-default' %>

<% end %>
