<h2>Chart</h2>

<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <h3>Readings By Day</h3>
    <%= line_chart @readings.group_by_day(:read_at, format: "%B %d, %Y").sum(:value), discrete: true %>
  </div>

</div>