<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? @page_title : 'Welcome' %> | Utility Manager </title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= javascript_include_tag "http://www.google.com/jsapi" %>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--js and style for chartkick -->
  <%= javascript_include_tag "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= params[:controller] == 'users' ? 'active' : '' %>"><%= link_to 'Home', root_path %></li>
            <li class="<%= params[:controller] == 'about' ? 'active' : '' %>"><%= link_to 'About', about_path %></li>            
          </ul>
          <ul class="nav navbar-nav navbar-right">            
            <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add New <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><%= link_to 'User', new_user_path %></li>
	            <li><%= link_to 'Reading', new_reading_path %></li>
	          </ul>
	        </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>

<header>
	<div class="container">
		<h1>Utility Manger <small><%= @page_title ? @page_title : 'Welcome' %></small></h1>
	</div>
</header>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<%= yield %>
			</div>
		
			<div class="col-md-4">
				<%= render 'partials/sidebar' %>
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="container">
		<p>Copyright &copy; 2015, All Rights Reserved </p>
	</div>
</footer>

</body>
</html>
